# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# PyCharm
.idea/

# Logs
*.log

# Compiled files
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Local config
*.local .env
.env
